---
BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 96
UseTab: Never
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: None
IndentCaseLabels: false
ForEachMacros:
  - 'LINKED_NODE_ITER'
  - 'HASHMAP_ITER'
  - 'ELF_PHDR_ITER'
  - 'ELF_SHDR_ITER'
