root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[{Makefile,*.mk}]
indent_style = tab
indent_size = 8

[{*.S,*.yml}]
indent_style = space
indent_size = 2

[Dockerfile]
indent_style = space

[opensbi/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
